# Dependências
node_modules/
.pnpm-store/

# Build
dist/
.wrangler/
.turbo/

# Ambiente
.env
.env.local
.dev.vars

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Cloudflare local
.wrangler/

# TypeScript
*.tsbuildinfo
